[submodule "ProEngine/vendor/spdlog"]
	path = ProEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ProEngine/vendor/GLFW"]
	path = ProEngine/vendor/GLFW
	url = https://github.com/alvaro55cuartero/glfw
